.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    min-height: 500px;
    overflow-y: auto;
}
@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

/*For Decision timeline*/
#timeline {
    list-style: none;
    position: relative;
}
#timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #4997cd;
    left: 50%;
    margin-left: -1.5px;
}
#timeline .clearFix {
    clear: both;
    height: 0;
}
#timeline .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    background-color: #4997cd;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
    background-color: #ffffff;
    font-size: 1.7em;
    height: 35px;
    margin-left: -18px;
    width: 35px;
    top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
    color: #4997cd;
    font-size: 1.3em;
    top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    font-size: 1.7em;
    top: -16px;
    margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
    color: #4997cd;
    font-size: .9em;
    top: 2px;
    left: 1px;
}
#timeline .timeline-movement {
    border-bottom: dashed 1px #4997cd;
    position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
    height: 60px;
}
#timeline .timeline-movement .timeline-item {
    padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
    text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
    color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
    color: #991188;
    font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
    text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
    color: #468c1f;
    font-size: 1.3em;
}

.tabledit-delete-button{
    display: none !important;
}

.nav-tabs2 {
    border-bottom: 1px solid #ddd
}

.nav-tabs2>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs2>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs2>li>a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs2>li.active>a,
.nav-tabs2>li.active>a:focus,
.nav-tabs2>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.nav-tabs2.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs2.nav-justified>li {
    float: none
}

.nav-tabs2.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center
}

.nav-tabs2.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-tabs2.nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .nav-tabs2.nav-justified>li>a {
        margin-bottom: 0
    }
}

.nav-tabs2.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs2.nav-justified>.active>a,
.nav-tabs2.nav-justified>.active>a:focus,
.nav-tabs2.nav-justified>.active>a:hover {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .nav-tabs2.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }
    .nav-tabs2.nav-justified>.active>a,
    .nav-tabs2.nav-justified>.active>a:focus,
    .nav-tabs2.nav-justified>.active>a:hover {
        border-bottom-color: #fff
    }
}


@media (min-width:768px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .nav-justified>li>a {
        margin-bottom: 0
    }
}

.nav-tabs2-justified {
    border-bottom: 0
}

.nav-tabs2-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs2-justified>.active>a,
.nav-tabs2-justified>.active>a:focus,
.nav-tabs2-justified>.active>a:hover {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .nav-tabs2-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }
    .nav-tabs2-justified>.active>a,
    .nav-tabs2-justified>.active>a:focus,
    .nav-tabs2-justified>.active>a:hover {
        border-bottom-color: #fff
    }
}

.tab2-content>.tab-pane2 {
    display: none
}

.tab2-content>.active {
    display: block
}

.nav-tabs2 .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.edit,.trash{
    display:none;
}
